body{
  background-color: $main-bg-color;
  font-family: $sys-font;
  color: $main-text-color;
  overflow: hidden;
}

.simple-padding-left, .simple-padding-h, .simple-padding{
  padding-left: 8px;
}

.simple-padding-right, .simple-padding-h, .simple-padding{
  padding-right: 8px;
}

.simple-padding-top, .simple-padding-v, .simple-padding{
  padding-top: 4px;
}

.text-align-right{
  text-align: right;
}

.text-align-center{
  text-align: center;
}

.full-height{
  height: 100%;
}

.simple-flex{
  display: flex;
}

canvas.canvas-item-selected{
  border: 3px solid #FF0000;
}

// Used to hide the ENTIRE page until the system has finished readying
// everything.
.cover {
  @include cover();  
}


.coverFadeout {
  -webkit-animation: coverFadeout 1s linear 1 forwards;
  animation: coverFadeout 1s linear 1 forwards;
}

@-webkit-keyframes coverFadeout {
  0% {@include opacity(1);}
  100% {@include opacity(0);}
}


@keyframes coverFadeout {
  0% {@include opacity(1);}
  100% {@include opacity(0);}
}
