div.NES-palette{
  font-size:0.55em;
}

.NES-palette button{
  width:2rem;
}


.palette-unit-t, .palette-unit-full{
  &.palette-selected{
    box-shadow: inset 0px 3px $color-highlight;
  }
}

.palette-unit-s, .palette-unit-full{
  &.palette-selected{
    box-shadow: inset 0px -3px $color-highlight;
  }
}

.palette-unit-full{
  &.palette-selected{
    box-shadow: inset 3px 3px $color-highlight, inset 0px -3px $color-highlight;
  }
}

