<div class="modal about-modal">
  <div class="modal-content">
    <span class="nes-color-text-06">NES </span>
    <span class="color-NES-random">P</span>
    <span class="color-NES-random">a</span>
    <span class="color-NES-random">i</span>
    <span class="color-NES-random">n</span>
    <span class="color-NES-random">t</span>
    <br>

    Version: <%= version %><br>
    Author: <%= author %><br>
    License: <%= license %><br>
    Description: <%= description %><br>

    <form class="pure-form">
      <button type="submit" class="pure-button" emit="modal-close">Close</button>
    </form> 
  </div>
</div>
