<div class="modal export-nametable">
  <div class="modal-content">
    <form class="pure-form export-nametable-form">
        <label for="expnt-op1" class="pure-radio">
          <input id="expnt-op1" type="radio" name="exportnt-op" value="both" checked>
          Name and Attribute Tables
        </label>
        <label for="expnt-op2" class="pure-radio">
          <input id="expnt-op2" type="radio" name="exportnt-op" value="nametable">
          Nametable Only
        </label>
        <label for="expnt-op3" class="pure-radio">
          <input id="expnt-op3" type="radio" name="exportnt-op" value="attribtable">
          Attribute Table Only
        </label>
      <button type="submit" class="pure-button export-nametable-btn" emit="export-nametable">Export Table(s)</button>
    </form> 
  </div>
</div>
