body{
  background-color:#666;
}

#painter{
  background-color:#444;
  width:100%;
  height:100%;
}


.content-wrapper{
  width:100%;
  height:100%;
  overflow:hidden;
}


span.color-NES-06{
  color:#A80020;
}

/* NOTE: Modal styles were borrowed from
 * https://www.w3schools.com/howto/howto_css_modals.asp
 * and modified.
 */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-visible {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}



