<div class="painter-bank-controls hidden">
  <label for="painter-bank-view-all" class="pure-radio">
    <input id="painter-bank-view-all" type="radio" name="pbv" value="all" checked>
    Full
  </label>
  <label for="painter-bank-view-sprites" class="pure-radio">
    <input id="painter-bank-view-sprites" type="radio" name="pbv" value="sprites">
    Sprites
  </label>
  <label for="painter-bank-view-tiles" class="pure-radio">
    <input id="painter-bank-view-tiles" type="radio" name="pbv" value="tiles">
    Tiles
  </label>
</div>
