<div class="pure-g pure-g-nw">
  <div class="pure-u-1 simple-padding text-align-center">
    <form class="pure-form">
      <label for="painter_scale">
        Scale : 
      </label>
      <input id="painter_scale" class="pure-input-1-8" type="number" min="0.5" max="1000" step="0.1" value ="1"/>

      <button emit="painter-fit-to-canvas" title="Fit to Window" class="pure-button">
        <i class="fa fa-expand-arrows-alt"></i>
      </button>

      <button emit="painter-togglegrid" title="Toggle Grid" emit-args='{"show":true}' class="pure-button">
        <i class="fa fa-th"></i>
      </button>
      <button emit="painter-colormode" title="Toggle Color Mode" emit-args='{"onePaletteMode":false}' class="pure-button">
        <i class="fa fa-palette"></i>
      </button>
    </form>
  </div>
</div>

