          <div class="tabnav">
            <ul tabs="assetlists">
              <li class="tab-selected" tabid="palettes"><a href="#">Palettes</a></li>
              <li tabid="banks"><a href="#">Banks</a></li>
              <li tabid="attrtables"><a href="#">Attib. Tables</a></li>
            </ul>
            <div class="tab-content" fortabs="assetlists" tabid="palettes">
              Palettes Content!
            </div>
            <div class="tab-content" fortabs="assetlists" tabid="banks">
              Bank Content!
            </div>
            <div class="tab-content" fortabs="assetlists" tabid="attrtables">
              Attribute Table Content!
            </div>
          </div>
