          <div class="tabnav">
            <ul tabs="<%= tabsetname %>">
              <% tabs.forEach(function(item){ %>
              <li tabid="<%= item.id %>"><a href="#"><%= item.name %></a></li>
              <% }); %>
            </ul>
            <% tabs.forEach(function(item){ %>
            <div class="tab-content" fortabs="<%= tabsetname %>" tabid="<%= item.id %>">
              <div class="list-container">
              <% if(item.hasOwnProperty("tmpl")){ %>
                <%- include(item.tmpl) %>
              <% } %>
              </div>
            </div>
            <% }); %>
          </div>
