<div class="pure-menu pure-menu-horizontal">
  <ul class="pure-menu-list">
    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <a href="#" class="pure-menu-link">
        <i class="fa fa-folder"></i>
        Project
      </a>
      <ul class="pure-menu-children">
        <form>
          <input type="file" class="project-loader" accept="text/plain" style="display:none;"></input>
        </form>
        <li class="pure-menu-item" emit="modal-open" emit-args='{"cls":".new-project-modal"}'>
          <a href="#" class="pure-menu-link">
            <i class="fa fa-file-alt"></i>
            New Project
          </a>
        </li>
        <li class="pure-menu-item" emit="load-project"> 
          <a href="#" class="pure-menu-link">
            <i class="fa fa-folder-open"></i>
            Load Project
          </a>
        </li>
        <li class="pure-menu-item" emit="save-project">
          <a href="#" class="pure-menu-link">
            <i class="fa fa-save"></i>
            Save Project
          </a>
        </li> 
      </ul>
    </li>


    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
      <a href="#" id="exportchr" class="pure-menu-link">Export</a>
      <ul class="pure-menu-children">
        <li class="pure-menu-item" emit="export-pal-asm">
          <a href="#" class="pure-menu-link">Palette to ASM</a>
        </li>
        <li class="surf-export surf-bank pure-menu-item" emit="modal-open" emit-args='{"cls":".export-chr"}'>
          <a href="#" class="pure-menu-link">Bank to CHR</a>
        </li> 
        <li class="surf-export surf-nametable pure-menu-item" emit="modal-open" emit-args='{"cls":".export-nametable"}'>
          <a href="#" class="pure-menu-link">Nametable to ASM</a>
        </li>
      </ul>
    </li>

    <li class="pure-menu-item" emit="about">
      <a href="#" class="pure-menu-link">
        <i class="fa fa-info-circle"></i>
        About
      </a>
    </li>
  </ul>
</div>
