    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal simple-flex">
        <a class="pure-menu-heading full-height nes-color-bg-3F" href="">
          <span class="nes-color-text-06">NES </span>
          <span class="color-NES-random">P</span><span class="color-NES-random">a</span><span class="color-NES-random">i</span><span class="color-NES-random">n</span><span class="color-NES-random">t</span>
        </a>

        <div class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
              <a href="#" class="pure-menu-link">
                <i class="fa fa-folder"></i>
                File
              </a>
              <ul class="pure-menu-children">
                <li class="pure-menu-item">
                  <a href="#" class="pure-menu-link">
                    <i class="fa fa-folder-open"></i>
                    Load Project
                  </a>
                </li>
                <li class="pure-menu-item">
                  <a href="#" class="pure-menu-link">
                    <i class="fa fa-save"></i>
                    Save Project
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div> 
      </div> 
    </div>
