<%- include('head.html'); %>

<%- include('modal.html'); %>
<%- include('header.html'); %>

    <div class="pure-g pure-g-nw">

      <div class="pure-u-2-24 simple-padding">
      <%- include('tools.html', {
        toolbtns:[
          {emitargs:'{"id":"Welcome"}', faicon:"fa-brush"},
          {emitargs:'{"id":"Welcome"}', faicon:"fa-eraser"},
          {emitargs:'{"id":"Welcome"}', faicon:"fa-eye-dropper"}
        ] 
      }); %>      
      </div>
      <div class="pure-u-16-24">
      <%- include('workspace.html'); %>
      </div>

      <div class="pure-u-6-24 simple-padding">
      <%- include('docks.html', {
        tabsetname:"assetlists",
        tabs:[
          {name:"Palettes", id:"palettes", tmpl:"paletteListItem.html", addevent:"PaletteAdd", remevent:"palstore-remove", elected:true},
          {name:"Banks", id:"banks", selected:false},
          {name:"Attrib. Tables", id:"attrtbls", selected:false}
        ]  
      }); %>
      </div>
    </div>

    <%- include('footer.html', {version:version, author:author}); %>
<%- include('tail.html'); %>
