<%- include('head.html'); %>

<div class="cover"></div>
<%- include('modal.html', {version:version, author:author, license:license, description:description}); %>
<%- include('header.html'); %>

    <div class="pure-g pure-g-nw">

      <div class="pure-u-2-24 simple-padding">
        <%- include("toolbar_bank.html"); %>
        <%- include("toolbar_nametable.html"); %>
      </div>
      <div class="pure-u-16-24">
      <%- include('workspace.html'); %>
      </div>

      <div class="pure-u-6-24 simple-padding">
      <%- include('docks.html', {
        tabsetname:"assetlists",
        tabs:[
          {name:"Palettes", id:"palettes", tmpl:"paletteListItem.html", addbtntt:"Add Palette", addevent:"palettes-store-add", rembtntt:"Remove Selected Palette", remevent:"palstore-remove", selected:true},
          {name:"Banks", id:"banks", tmpl:"bankListItem.html", addbtntt:"Add Bank", addevent:"banks-store-add", rembtntt:"Remove Selected Bank", remevent:"bankstore-remove", selected:false},
          {name:"Name Tables", id:"nametbls", tmpl:"nametableListItem.html", addbtntt:"Add Nametable", addevent:"nt-store-add", rembtntt:"Remove Selected Nametable", remevent:"ntstore-remove", selected:false}
        ]  
      }); %>
      </div>
    </div>

    <%- include('footer.html', {version:version, author:author}); %>
<%- include('tail.html'); %>
