<div id="Welcome" class="modal">
  <div class="modal-content">
    Welcome to the modal!
  </div>
</div>

<%- include("modals/storeadd.html", {stores:[
  {"modalclass":"palettes-store-add", "title":"New Palette Name", "addevent":"palstore-add"},
  {"modalclass":"banks-store-add", "title":"New Bank Name", "addevent":"bankstore-add"}
]}); %>

<div id="LoadProject" class="modal">
  <div class="modal-content">
    <input type="file" accept="text/plain" name="loadProject"></input>
  </div>
</div>

<%- include("modals/export_CHR.html"); %>

