<div id="Welcome" class="modal">
  <div class="modal-content">
    Welcome to the modal!
  </div>
</div>

<div id="PaletteAdd" class="modal">
  <div class="modal-content">
    <label for="palname">
      New Palette Name: 
    </label>
    <input type="text" name="palname" />
    <button class="pure-button" emit="modal-submit" emit-args='{"subevent":"palstore-add", "ids":"palname", "closeoncomplete":true}'>Submit</button>
  </div>
</div>

<div id="BankAdd" class="modal">
  <div class="modal-content">
    <label for="bankname">
      New Bank Name: 
    </label>
    <input type="text" name="bankname" />
    <button class="pure-button" emit="modal-submit" emit-args='{"subevent":"bankstore-add", "ids":"bankname", "closeoncomplete":true}'>Submit</button>
  </div>
</div>


<div id="LoadProject" class="modal">
  <div class="modal-content">
    <input type="file" accept="text/plain" name="loadProject"></input>
  </div>
</div>

<%- include("modals/export_CHR.html"); %>

