<div class="list-item-container palette-list-item-template hidden">
  <div class="list-h-padding list-v-padding">
    <div class=pure-g">
      <div class=pure-u-1">
        <span class="title">Title here</span>
        <input class="title hidden" type="text" value="Title here"></input>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1-4 pal-bg-color">&nbsp;</div>
      <div class="pure-u-3-4">
        <div class="pure-g">
          <div class="pure-u-1-2">
            <div class="list-l-padding">
              <div class="pure-g">
                <div class="pure-u-1-3 pal-fg-0-1">&nbsp;</div>
                <div class="pure-u-1-3 pal-fg-0-2">&nbsp;</div>
                <div class="pure-u-1-3 pal-fg-0-3">&nbsp;</div>
              </div>
              <div class="pure-g">
                <div class="pure-u-1-3 pal-fg-1-1">&nbsp;</div>
                <div class="pure-u-1-3 pal-fg-1-2">&nbsp;</div>
                <div class="pure-u-1-3 pal-fg-1-3">&nbsp;</div>
              </div>
              <div class="pure-g">
                <div class="pure-u-1-3 pal-fg-2-1">&nbsp;</div>
                <div class="pure-u-1-3 pal-fg-2-2">&nbsp;</div>
                <div class="pure-u-1-3 pal-fg-2-3">&nbsp;</div>
              </div>
              <div class="pure-g">
                <div class="pure-u-1-3 pal-fg-3-1">&nbsp;</div>
                <div class="pure-u-1-3 pal-fg-3-2">&nbsp;</div>
                <div class="pure-u-1-3 pal-fg-3-3">&nbsp;</div>
              </div>
            </div>
          </div>
          <div class="pure-u-1-2">
            <div class="list-l-padding">
              <div class="pure-g">
                <div class="pure-u-1-3 pal-bg-0-1">&nbsp;</div>
                <div class="pure-u-1-3 pal-bg-0-2">&nbsp;</div>
                <div class="pure-u-1-3 pal-bg-0-3">&nbsp;</div>
              </div>
              <div class="pure-g">
                <div class="pure-u-1-3 pal-bg-1-1">&nbsp;</div>
                <div class="pure-u-1-3 pal-bg-1-2">&nbsp;</div>
                <div class="pure-u-1-3 pal-bg-1-3">&nbsp;</div>
              </div>
              <div class="pure-g">
                <div class="pure-u-1-3 pal-bg-2-1">&nbsp;</div>
                <div class="pure-u-1-3 pal-bg-2-2">&nbsp;</div>
                <div class="pure-u-1-3 pal-bg-2-3">&nbsp;</div>
              </div>
              <div class="pure-g">
                <div class="pure-u-1-3 pal-bg-3-1">&nbsp;</div>
                <div class="pure-u-1-3 pal-bg-3-2">&nbsp;</div>
                <div class="pure-u-1-3 pal-bg-3-3">&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
