<div class="toolbar-nametable-control hidden"> 
  <form class="pure-form">
    <legend>Nametable Tools</legend>
    <div class="pure-control-group simple-padding-top nametable-bank">
      <label for="bank-select">
        Bank:
        <select id="bank-select" class="nametable-bank-select">
          <option value="NULL_BANK">No Bank Assigned</option>
        </select>
      </label>
    </div>
    <div class="pure-control-group simple-padding-top nametable-tile hidden">
        Bank Tile:
        <div class="list-container nametable-tile-select">
            <canvas width="8" height="8" value="0"></canvas>
        </div>
    </div> 
  </form>
</div>
